.rs-radio-tile-body {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  width: 100%;
}

.rs-radio-tile-checked * {
  color: var(--yellow);
}

.rs-radio-tile-checked {
  border: 2px solid var(--yellow);
}

.accent {
  accent-color: var(--yellow);
}
